# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# --- C# / .NET (İleride lazım olursa diye hazır olsun) ---
bin/
obj/
.vscode/
.idea/

# --- İşletim Sistemi Çöpleri ---
.DS_Store
Thumbs.db